name: ♻️ build

on:
  workflow_call:
    inputs:
      skipTests:
        type: boolean
        description: Skip Tests
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 25
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Build with Gradle
        run: ./gradlew build
      - name: Sign artifacts with Sigstore
        run: ./gradlew sigstoreSignBootJavaPublication
      - name: Store reports
        #if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: reports
          path: |
            **/build/reports/
            **/build/test-results/
      - uses: actions/upload-artifact@v4 #  Objective 2
        with:
          name: demo.jar
          path: build/libs/demo-0.0.1-SNAPSHOT.jar
      - uses: actions/upload-artifact@v4
        with:
          name: demo.jar.sigstore.json
          path: build/libs/demo-0.0.1-SNAPSHOT.jar.sigstore.json

  deploy:
    runs-on: ubuntu-22.04
    needs: build
    steps:
      - uses: actions/download-artifact@v4 # Objective 3
        with:
          name: demo.jar
      - name: list files
        run: |
          ls -trl
      - name: deploy (mock)
        run: |
          if [ ! -f demo-0.0.1-SNAPSHOT.jar ]; then
            echo "File does not exist"
            exit 1
          fi
